
<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header_e.html" %}

  <div class="container theme-showcase" role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

 <!--     <div class="container marketing"> -->
     <div class="container-fluid">
      <div class="page-header">
      </div>
      <div class="container-fluid">
      <!--  <div class="row">  -->
      <!-- <img class="img-responsive center-block" src="/static/image/home/world.png" alt="World Map" width="100%"> -->
      <img src="/static/image/home/world.png" alt="World Map" width="100%">

    <!--  </div>  -->
      </div>
      <hr>
      <!-- Three columns of text below the carousel-->
      <div class="row">
        <div class="col-sm-6 center">
          <img class="img-circle img-responsive center-block" src="/static/image/home/issue.jpg" alt="Generic placeholder image" width="250" height="250">
          <h2>Issues</h2>
          <p>See what issues we've discovered.</p>
          <p><a class="btn btn-default" href="/en/issue" role="button">Issues &raquo;</a></p>
        </div>
        
        <div class="col-sm-6 center">
          <img class="img-circle img-responsive center-block" src="/static/image/home/solution.jpg" alt="Generic placeholder image" width="250" height="250">
          <h2>Solutions</h2>
          <p>See what solutions we have now.</p>
          <p><a class="btn btn-default" href="/en/solutions" role="button">View Solutions &raquo;</a></p>
        </div>

      </div><!-- /.row -->
      <hr>
      <div class="table-responsive">
      <table class="table">
        <caption class="text-center">News</caption>
        <tbody>
          <tr>
            <th class="col-md-3"></th>
            <td class="col-md-9">SolutionMakers officially established!</td>
          </tr>
          <tr>
            <th class="col-md-3">2015.6.26</th>
            <td class="col-md-9">Our first series of activities, Summer-Sharing Trilogy start!</td>
          </tr>
          <tr>
            <th class="col-md-3">2015.7.31</th>
            <td class="col-md-9">Design for social issue, Summer-Sharing episode2 tell you more.</td>
          </tr>
          <tr>
            <th class="col-md-3">2015.8.25-31</th>
            <td class="col-md-9">Field research and Market test in Cambodia.</td>
          </tr>
          <tr>
            <th class="col-md-3">2015.9.9</th>
            <td class="col-md-9">Summer-Sharing final run and social design proposal announcement.！</td>
          </tr>
          <tr>
            <th class="col-md-3"></th>
            <td class="col-md-9">Official website launch, we are SolutionMakers!</td>
          </tr>
          <tr>
            <th class="col-md-3"></th>
            <td class="col-md-9">2015.11 Solutionmakers X ELIV course announced!<a href="/static/image/home/2015.11_course_edm.pdf">Course intro</a> and <a href="http://www.accupass.com/event/register/1510300335581740990703">Register!</a></td>
          </tr>
          <tr>
            <th class="col-md-3"></th>
            <td class="col-md-9">2015.12 Solutionmakers X ELIV course announced!<a href="/static/image/home/2015.12_course_edm.pdf">Course intro</a> and <a href="http://www.accupass.com/event/register/1511050735369388038450">Register!</a></td>
          </tr>

        </tbody>
      </table>
      </div>
    </div>
    
      <!-- footer -->  
      {% include "common/footer.html" %}

    </div> <!-- /container -->

    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}

  </body>
</html>
