<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header_e.html" %}


    <div class="container theme-showcase" role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="page-header">
      </div>
      <!-- Three columns of text below the carousel-->
<!--      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsLU45YTVpUXh0YWc" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsNzFJS05nZGJxSnM" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsdWp3OEJfM1E1SE0" alt="Generic placeholder image" width="250" height="250">
        </div>
      </div>
      <hr>
-->      
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3 text-center vcenter">
          <p>
          <img class="img-rounded" src="/static/image/issue/ngo.png" alt="ngo flow" width="250">
          </p>
        </div>
        <div class="col-md-7 vcenter">
            <dl class="dl-horizontal">
              <dt class="dt-font">Discover issues</dt>
              <dd class="dd-font">Issues provide by organization from field which is discovered from field research to try to find the problem behind the problem.</dd>
              <br>
              <br>
              <dt class="dt-font">Apply to Us</dt>
              <dd class="dd-font">Apply form provide by Solutionmakers, provide video records or any kind of information which can help to clarify the issue.</dd>
              <br>
              <br>
              <dt class="dt-font">Design & Test</dt>
              <dd class="dd-font">Solutionmakers will help to design a prototype with basic functions to use. Bring it to the field and test.</dd>
              <br>
              <br>
              <dt class="dt-font">Production</dt>
              <dd class="dd-font">The product will produce by partners of Solutionmakers.</dd>
              <br>
              <br>
              <dt class="dt-font">Issue Solved!</dt>
              <dd class="dd-font">Send the products to field, keep tracking and following up.</dd>
            </dl>  
          </div>
        
        <div class="col-md-1">
        </div>
      </div>
      <hr>

      <div class="row text-center">
          <div class="col-md-3 vcenter">
              <img class="img-circle center-block" src="/static/image/issue/breath.png" alt="Cambodia" width="175" height="175">
          </div>
          <div class="col-md-6 vcenter hleft">
              <h3>First-hand daily observation in the rural area in Cambodia</h3>
              <p>
                Svey Chek district, located in the north-west of Cambodia, 
                has been encountered a problem in their daily needs. House wife spends too much time, 
                around 3hours per day, on the way to collect firewood for their cook. When the rain season is coming, 
                the road surface usually becomes muddy and this situation makes those house wife hard to collect their material for cooking. 
                Furthermore, those firewood usually have higher concentration of water, and the condition of their cooking utensils is not good, generally speaking. 
                Therefore, many incomplete combustion carbon particles are inhaled by those house wife result in particular respiratory diseases and worse health conditions. 
                Do you have any idea or solution that could improve this situation come up with your mind?
              </p>
          </div><!--
          --><div class="col-md-2 vcenter issue_btn">
            <p>
              <button type="button" class="btn btn-default" Onclick="window.location.href='/en/bissue_e'">Details</button>
            </p>
          </div>
      </div>
      <hr>
      <div class="row text-center">
          <div class="col-md-3 vcenter">
              <img class="img-circle center-block" src="/static/image/issue/energy.png" alt="Energy" width="175" height="175">
          </div>
          <div class="col-md-6 vcenter hleft">
              <h3>Innovation reuse solution of leftovers in Taiwan</h3>
              <p>
                In the urban area in Taiwan, the capacity of leftover factory cannot afford the amount of leftovers generated by people. 
                During the process of addressing those leftover, it usually accompany with smelly odour. 
                Therefore, it’s increase the difficulty in getting the license in building the leftover factory in urban area and usually build those factories in the rural area, 
                which decrease the efficiency of addressing leftovers indirectly due to the long transport distance. 
                What’s more, related organization need to pay extra fee to find some partner to handle most of leftovers in urban area. 
                What if there is another smaller unit leftover transformer, could it resolve the leftover handling issues in urban area?

              </p>
          </div>
          <div class="col-md-2 vcenter issue_btn">
            <p>
              <button type="button" class="btn btn-default " Onclick="window.location.href='/en/fwissue_e'">Details</button>
            </p>
          </div>
      </div>
      <hr>
      <div class="row text-center">
          <div class="col-md-3 vcenter">
              <img class="img-circle  center-block" src="/static/image/issue/oldman.png" alt="Oldman" width="175" height="175">
          </div>
          <div class="col-md-6 vcenter hleft">
              <h3>Home delivery meal dilemma of Solitary elders</h3>
              <p>
              According to the statistics number, around 12,000 solitary elders are categorized to middle-low income households, 
              but only 5400 of them could be benefit from the home delivery meal policy from the government. 
              The cooperation organization who dedicates in this area for a long time finds out a fact – even though there is the home delivery meal service to serve those people, 
              most of the solitary elders still cannot be served due to the current meal-box design, which is limited the capacity of deliveryman. This organization believe that, 
              a novel design which could satisfy needs among kitchen chef, deliveryman, and solitary elder, could increase their delivery capacity and improve the current situation.
              </p>
          </div>
          <div class="col-md-2 vcenter issue_btn">
            <p>
              <button type="button" class="btn btn-default" Onclick="window.location.href='/en/omissue_e'">Details</button>
            </p>
          </div>
      </div>
      
    </div>




      <!-- footer -->  
      {% include "common/footer.html" %}
    </div> <!-- /container -->

    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}
  </body>
</html>