<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header.html" %}


    <div class="container theme-showcase" role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="page-header">
      </div>
      <!-- Three columns of text below the carousel-->
<!--      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsLU45YTVpUXh0YWc" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsNzFJS05nZGJxSnM" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsdWp3OEJfM1E1SE0" alt="Generic placeholder image" width="250" height="250">
        </div>
      </div>
      <hr>
-->      
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3 text-center vcenter">
          <p>
          <img class="img-rounded" src="../static/image/issue/ngo.png" alt="ngo flow" width="250">
          </p>
        </div>
        <div class="col-md-7 vcenter">
            <dl class="dl-horizontal">
              <dt class="dt-font">發現問題</dt>
              <dd class="dd-font">由長期關注社會議題的組織提出，透過相關的田野調查經驗剖析問題背後的問題。</dd>
              <br>
              <br>
              <dt class="dt-font">申請表單</dt>
              <dd class="dd-font">填寫SolutionMakers專用申請表單，並提供輔佐提案之影音資訊及任何相關資料。</dd>
              <br>
              <br>
              <dt class="dt-font">設計測試</dt>
              <dd class="dd-font">在設計製作過程當中適時提供協助。原型測試階段協助安排，與當地居民溝通協調，並記錄測試過程。</dd>
              <br>
              <br>
              <dt class="dt-font">量產製造</dt>
              <dd class="dd-font">由SolutionMakers合作夥伴生產，依當地情況決定量產數量。</dd>
              <br>
              <br>
              <dt class="dt-font">解決問題</dt>
              <dd class="dd-font">將量產後的產品運送到議題當地，持續追蹤使用情形並提供後續支援。</dd>
            </dl>  
          </div>
        
<!--        <div class="col-xs-2">
          <div class="vertical-space-around2">
          <h3>發現問題</h3>
          <h3>申請表單</h3>
          <h3>設計測試</h3>
          <h3>量產製造</h3>
          <h3>解決問題</h3>
          </div>
        </div>

        <div class="col-xs-5">
          <div class="vertical-space-around2">
          <p><blockquote>由長期關注社會議題的組織提出，透過相關的田野調查經驗剖析問題背後的問題。</blockquote></p>
          <p><blockquote>填寫SolutionMakers專用申請表單，並提供輔佐提案之影音資訊及任何相關資料。</blockquote></p>
          <p><blockquote>在設計製作過程當中適時提供協助。原型測試階段協助安排，與當地居民溝通協調，並記錄測試過程。</blockquote></p>
          <p><blockquote>由SolutionMakers合作夥伴生產，依當地情況決定量產數量。</blockquote></p>
          <p><blockquote>將量產後的產品運送到議題當地，持續追蹤使用情形並提供後續支援。</blockquote></p>
          </div>
        </div>
        -->
        <div class="col-md-1">
        </div>
      </div>
      <hr>

      <div class="row text-center">
          <div class="col-md-3 vcenter">
              <img class="img-circle center-block" src="../static/image/issue/breath.png" alt="Cambodia" width="175" height="175">
          </div>
          <div class="col-md-6 vcenter hleft">
              <h3>柬埔寨偏鄉生計實況</h3>
              <p>
                位於柬埔寨西北邊的Svey Chek鄉，部份的村落婦女平均每日需花費三小時在從住家到樹林取得木材的路途上，
                如此才有生火煮飯的材料。每逢雨季，因路況不佳導致進入森林更加不易。當長途跋涉所取的木材拿回後，
                又因炊事器具狀況與木材條件不佳，許多未燃燒完全的顆粒被煮飯的婦女吸入，造成健康狀況的惡化。
                看到這裡，腦海中有浮現什麼可以改善這個情況的好點子嗎？
              </p>
          </div><!--
          --><div class="col-md-2 vcenter issue_btn">
            <p>
              <button type="button" class="btn btn-default" Onclick="window.location.href='../bissue'">Details</button>
            </p>
          </div>
      </div>
      <hr>
      <div class="row text-center">
          <div class="col-md-3 vcenter">
              <img class="img-circle center-block" src="../static/image/issue/energy.png" alt="Energy" width="175" height="175">
          </div>
          <div class="col-md-6 vcenter hleft">
              <h3>廚餘處理挑戰</h3>
              <p>
                在台灣都會區，廚餘回收單位每天能負擔的處理量，趕不上人們每天所產生的廚餘。
                廚餘堆肥廠處理過程中易產生惡臭且設置土地取得不易，每當推行建廠，屢遭地方抗爭，
                造成堆肥處理廠多遠離人口密集地區，間接降低廚餘回收的利用程度。而都市的廚餘問題，大多無法自行處理，
                多需負擔昂貴的處理費用。若能找到新的廚餘處理的方式，或是自己的廚餘自己收，就地轉化能有用的堆肥或能量，
                或許有機會能減輕這些問題所造成的現況。
              </p>
          </div>
          <div class="col-md-2 vcenter issue_btn">
            <p>
              <button type="button" class="btn btn-default " Onclick="window.location.href='../fwissue'">Details</button>
            </p>
          </div>
      </div>
      <hr>
      <div class="row text-center">
          <div class="col-md-3 vcenter">
              <img class="img-circle  center-block" src="../static/image/issue/oldman.png" alt="Oldman" width="175" height="175">
          </div>
          <div class="col-md-6 vcenter hleft">
              <h3>獨居長者送餐規劃</h3>
              <p>
              據統計，目前全台約有12,000+位獨居老人列屬中低收入戶，但其中僅有約5,400位(約44%) 獲得政府每日補助一至兩餐的送餐服務。
              另外56%的獨居長者，甚至沒有獲得任何一餐的補助。長期致力於獨居長者送餐服務的合作單位表示，
              即使有送餐服務，受限於現有餐盒的設計，使送餐員無法載送更多，導致還有許多有需求的長者尚未被服務到。
              如果能有一個同時能滿足廚房、送餐員及獨居長者的餐盒設計，這樣的情況相信可一定程度的得到改善。
              </p>
          </div>
          <div class="col-md-2 vcenter issue_btn">
            <p>
              <button type="button" class="btn btn-default" Onclick="window.location.href='../omissue'">Details</button>
            </p>
          </div>
      </div>
      
    </div>




      <!-- footer -->  
      {% include "common/footer.html" %}
    </div> <!-- /container -->

    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}
  </body>
</html>