<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header.html" %}


    <div class="container theme-showcase" role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="page-header">
      </div>
      <!-- Three columns of text below the carousel-->
<!--      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsLU45YTVpUXh0YWc" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsNzFJS05nZGJxSnM" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsdWp3OEJfM1E1SE0" alt="Generic placeholder image" width="250" height="250">
        </div>
      </div>
      <hr>
-->      
      <div class="row">
        <div class="col-md-4">
          <img class="img-circle img-responsive center-block" src="../static/image/foodwaste/2.png" alt="Generic placeholder image" width="250" height="250">
        </div>
          <div class="col-md-8">
              <h1>背景</h1>
              <p>
                  <blockquote>台灣近幾年廚餘回收回歸地方自治，許多都市廚餘遭到焚化處理，影響焚化爐的燃燒效率 </blockquote>
                  雖然回收政策已行之有年，但近幾年廚餘回收回歸地方自治，許多地方政府由於營運困難選擇將廚餘以焚化方式處理。
                  推肥處理廠興建的營運成本幾乎與焚化處理相當，又加上民眾對於堆肥場觀感不佳等等，都影響到廚餘回收政策的執行效益，
                  以至於政府推廣數十年至今的廚餘堆肥尚未有突破性的變革。
              </p>
          </div>
    </div>
    
      <hr> 
      
      <div class="row">
          <div class="col-md-4">
              <img class="img-circle img-responsive center-block" src="../static/image/foodwaste/1.png" alt="Generic placeholder image" width="250" height="250">
          </div>
          <div class="col-md-8">
              <h1>核心問題</h1>
              <p>
                  <blockquote>都市因建廠問題，多需負擔昂貴的費用將廚餘送至中南部處理</blockquote>
                  都市地狹人稠建廠不易，使得都市的廚餘量大多無法自行處理，時常得負擔昂貴的費用將廚餘送至中南部堆肥場。
                  再加上堆肥耗時過程複雜、成品品質及價格問題、農民依賴化學肥料銷售通路等，導致早期堆肥場經營困難、陸續關廠，
                  造成廚餘堆肥推廣更加不易。
              </p>
          </div>
      </div>
      <hr>
          <div class="row">
            <div class="col-md-4">
              <img class="img-circle img-responsive center-block" src="../static/image/foodwaste/3.png" alt="Generic placeholder image" width="250" height="250">
            </div>
          <div class="col-md-8">
              <h1>可能的解決方案</h1>
              <p class="lead">
              <dl>
                  <dt>人工培育特殊菌種</dt>
                  <dd>因應不同廚餘的來源和所含有機質種類的差異，加強生產過程中的需求菌種篩選，
                  控制適當發酵菌活化條件，人工培育維生菌種，加速堆肥工廠製造時使用。
                  </dd>
                  <br>
                  <dt>改良於小單位（家庭）使用的廚餘發酵機</dt>
                  <dd>設計量小即可產生熱能的機器，也許是透過物理裝置，就能讓其以較高效率的方式運作。
                  或是設計在與空氣接觸的開口，鋪上特殊纖維，來源也許可利用社區或是學校等鄰近的樹葉製成，避免生蛆。
                  或加裝濾片，讓臭氣不要大量發散。
                  </dd>
                  <br>
                  <dt>設計最短時間「就地處理」流程</dt>
                  <dd>府與民間合作，研發出可以就地處理廚餘機制，落實分流回收，將生、熟食廚餘分開處理，
                  挑選出市區就能處理的廚餘優先處理。
                  </dd>
              </dl>
              <p>
          </div>
    </div>
    <hr>
        <div class="row">
          <div class="col-md-3 vcenter eliv-margin">

              <img class="img-rounded img-responsive center-block" src="../static/image/foodwaste/fwlogo.jpg" alt="Generic placeholder image" width="200" height="200">

          </div>

          <div class="col-md-3 vcenter">
              <h4 class="text-center">
                台灣廚餘堆肥資源化發展協會
              </h4>
          </div>
        
          <div class="col-md-5 vcenter">
              <p>
                我們是一群關心生態環境、農業健康的人，集結組織共同推動廚餘堆肥的普及。
                我們認為廚餘堆肥能減少食物資源浪費及不當處理的健康風險與環境污染；
                而產生的優良堆肥則能減少化學肥料、農藥的使用，促進健康無毒農業。
              </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <ol>
            <h5>參考資料：</h5>
            <li>廚餘101高度：<br>
            <a target="_blank" href="http://www.huf.org.tw/essay/content/2168">http://www.huf.org.tw/essay/content/2168</a></li>
          </ol>
        </div>


    
    </div>




      <!-- footer -->  
      {% include "common/footer.html" %}
    </div> <!-- /container -->

    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}
  </body>
</html>
