
<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header.html" %}


    <div class="container theme-showcase" role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="page-header">
      </div>
      <!-- Three columns of text below the carousel-->
<!--      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsLU45YTVpUXh0YWc" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsNzFJS05nZGJxSnM" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsdWp3OEJfM1E1SE0" alt="Generic placeholder image" width="250" height="250">
        </div>
      </div>
      <hr>
-->      
      <div class="row">
        <div class="col-md-4">
             <img class="img-circle img-responsive center-block" src="../static/image/breath/1.png" alt="Generic placeholder image" width="250" height="250">
        </div>
          <div class="col-md-8">
              <h1>背景</h1>
              <p>
                  <blockquote>柬埔寨是世界上最窮困的國家之一 </blockquote>
                  根據聯合國2014年公布的人類發展指數 (Human Development Index)，柬埔寨在世界187個研究國家中排名第136名，
                  柬埔寨人口約1,450萬人，其中20.5% 人口活在貧窮線之下。現代柬埔寨經濟發展受限於政府提供的規管和扶持不足
                  、不均，市場信貸貧乏，加上政府貪腐狀況嚴重妨礙國家經濟的發展。然而，城市經濟今年亦突破困難，由旅遊業、
                  加工製造業與建築業帶動柬國經濟成長。可惜這三大經濟支柱與城市以外的務農村鎮關係薄弱，
                  因此城市外的窮民未能受益於城市經濟起飛。
              </p>
          </div>
    </div>
    
      <hr> 
      
      <div class="row">
          <div class="col-md-4">
              <img class="img-circle img-responsive center-block" src="../static/image/breath/2.png" alt="Generic placeholder image" width="250" height="250">
          </div>
          <div class="col-md-8">
              <h1>核心問題</h1>
              <p>
                  <blockquote>村落婦女平均每日需要花費三小時從家裡到森林裡尋找木材，回來生火才能煮飯</blockquote>
                  Svey Chek鄉位於柬埔寨的西北邊，大部份的村落婦女平均每日需要花費三小時從家裡到森林裡尋找木材，回來生火才能煮飯。
                  這個過程不僅費時費力、對於環境也有負面的影響，加上每逢雨季，要進入森林變得更加不易，且具有一定的危險。
                  無奈在習慣於這樣的模式及不知如何解決的情況下，這樣的困境是他們天天必須面對的問題。
                  更甚者，當長途拔涉所取的木材拿回來後，由於器具與燃燒條件不佳，許多未燃燒完全的顆粒又被煮飯的婦女吸入，
                  造成健康狀況的惡化。上述婦女們在每日生活中所需耗費的隱形成本，或多或少都影響了這些婦女能從事經濟生產工作的時間。
              </p>
          </div>
      </div>
      <hr>
          <div class="row">
            <div class="col-md-4">
              <img class="img-circle img-responsive center-block" src="../static/image/breath/3.png" alt="Generic placeholder image" width="250" height="250">
            </div>
          <div class="col-md-8">
              <h1>可能的解決方案</h1>
              <p class="lead">
              <dl>
                  <dt>環境友善的木材搬運工具開發</dt>
                  <br>
                  <dt>提升木材燃燒效率的結構改善</dt>
                  <br>
                  <dt>燃燒不全的顆粒防治</dt>
              </dl>
              <p>
          </div>
    </div>
    <hr>
        <div class="row">
          <div class="col-md-3 vcenter eliv-margin">

              <img class="img-rounded img-responsive center-block" src="../static/image/breath/elivlogo.jpg" alt="Generic placeholder image" width="200" height="200">

          </div>

          <div class="col-md-3 vcenter">
              <h3 class="text-center">以立國際服務</h3>
          </div>
        
          <div class="col-md-5 vcenter">
              <p>
                以立國際服務，2010年1月在台灣成立，是台灣最早成立的社會企業之一；並於2012年成立兄弟組織「以立國際服務協會」。
                以立的英文名稱ELIV，為「Empowering Lives through Innovative Volunteerism」的縮寫，我們透過創新「接力賽式」的國際志工模式，推動台灣熱血青年到海外服務弱勢社群，探討國際議題，體驗異國文化與創造改變。
                ELIV也是Eco-Living的生活態度 -- 永遠要更靠近自己與地球，停止無病呻吟，開始正視難題；
                不想過度消費，認真關心暖化，努力匯聚溫暖的力量。
              </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <ol>
            <h5>參考資料：</h5>
            <li>聯合國人類發展指數(Human Development Index)：<br>
            <a target="_blank" href="http://hdr.undp.org/en/content/table-1-human-development-index-and-its-components">http://hdr.undp.org/en/content/table-1-human-development-index-and-its-components</a></li>
            <li>20%人口活在貧窮線之下：<br>
            <a target="_blank" href="http://hdr.undp.org/en/content/table-6-multidimensional-poverty-index-mpi">http://hdr.undp.org/en/content/table-6-multidimensional-poverty-index-mpi</a></li>
            <li>未完全燃燒粒子健康影響：<br>
            <a target="_blank" href="http://epa.gov/pm/health.html">http://epa.gov/pm/health.html</a></li>
          </ol>
        </div>
    </div>




      <!-- footer -->  
      {% include "common/footer.html" %}
    </div> <!-- /container -->

    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}
  </body>
</html>
