<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header.html" %}


    <div class="container theme-showcase" role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="page-header">
      </div>
      <!-- Three columns of text below the carousel-->
<!--      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsLU45YTVpUXh0YWc" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsNzFJS05nZGJxSnM" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsdWp3OEJfM1E1SE0" alt="Generic placeholder image" width="250" height="250">
        </div>
      </div>
      <hr>
-->      
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3 text-center vcenter">
          <p>
          <img class="img-rounded" src="../static/image/solution/sp.png" alt="solution flow" width="250">
          </p>
        </div>
<!--         <div class="col-sm-2">
          <div class="text-center">
          <h3>發現問題</h3>
          <h3>設計思考</h3>
          <h3>製作原型</h3>
          <h3>當地測試</h3>
          <h3>解決問題</h3>
          </div>
        </div>
-->
        <div class="col-md-7 vcenter">
        <div>

            <dl class="dl-horizontal">
              <dt class="dt-font">發現問題</dt>
              <dd class="dd-font">由長期關注社會議題的組織提出，透過相關的田野調查經驗剖析問題背後的問題。</dd>
              <br>
              <br>
              <dt class="dt-font">設計思考</dt>
              <dd class="dd-font">通盤了解議題的背景及問題背後的核心問題，找出適當的解決方法。</dd>
              <br>
              <br>
              <dt class="dt-font">製作原型</dt>
              <dd class="dd-font">跨領域夥伴共同設計製作具備基本功能及符合人體使用的原型，過程中SolutionMakers適時給予協助。</dd>
              <br>
              <br>
              <dt class="dt-font">當地測試</dt>
              <dd class="dd-font">透過議題現場實地測試取得第一手使用經驗及回饋，修正原型反覆驗證，直至符合市場需求。</dd>
              <br>
              <br>
              <dt class="dt-font">解決問題</dt>
              <dd class="dd-font">將量產後的產品運送到議題當地，持續追蹤使用情形並提供後續支援。</dd>
            </dl>

  <!--        <p><blockquote>由長期關注社會議題的組織提出，透過相關的田野調查經驗剖析問題背後的問題。</blockquote></p>
          <p><blockquote>通盤了解議題的背景及問題背後的核心問題，找出適當的解決方法。</blockquote></p>
          <p><blockquote>跨領域夥伴共同設計製作具備基本功能及符合人體使用的原型，過程中SolutionMakers適時給予協助。</blockquote></p>
          <p><blockquote>透過議題現場實地測試取得第一手使用經驗及回饋，修正原型反覆驗證，直至符合市場需求。</blockquote></p>
          <p><blockquote>將量產後的產品運送到議題當地，持續追蹤使用情形並提供後續支援。</blockquote></p>
-->
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
      <hr>

      <div class="row text-center">
          <div class="col-md-3 vcenter">
              <img class="img-responsive center-block" src="../static/image/solution/team2.png" alt="Cambodia" width="250">
          </div>
          <div class="col-md-6 vcenter hleft">
              <p>
              由三兩成群的成大工設同學，抱著設計可以改變社會的心心念念，接下來自柬埔寨的任務，
              想像作品可以在某個時空裡改善某些人的生活。
              </p>
          </div>
          <div class="col-md-2 vcenter issue_btn">
            <p>
          <!--    <button type="button" class="btn btn-default" Onclick="window.location.href='../static/file/solution/RespliCleanse.pdf">Details</button>
            -->
              <a class="btn btn-default" target="_blank" href="../static/file/solution/team2.pdf">Details</a>
            </p>
          </div>
      </div>
      <hr>
      <div class="row text-center">
          <div class="col-md-3 vcenter">
              <img class="img-responsive center-block" src="../static/image/solution/team4.png" alt="Cambodia" width="250">
          </div>
          <div class="col-md-6 vcenter hleft">
              <p>
              林詣翔 Yi-Xiang Lin <br>
              國立臺北科技大學工業設計系 <br>
              產品設計專長 <br>
              高中讀廣告設計，大學主修工業產品設計，覺得善念是設計的出發點。
              </p>
          </div>
          <div class="col-md-2 vcenter issue_btn">
            <p>
              <a class="btn btn-default" target="_blank" href="../static/file/solution/team4.pdf">Details</a>
            </p>
          </div>
      </div>
      <hr>
      <div class="row text-center">
          <div class="col-md-3 vcenter">
              <img class="img-responsive center-block" src="../static/image/solution/team5.png" alt="Cambodia" width="250">
          </div>
          <div class="col-md-6 vcenter hleft">
              <p>
              我是吳筠綺，來自國立臺北科技大學，主修工業設計。<br>
              不論產品或是形而上的服務，「從使用者出發」是我對設計的核心價值，期許我的專業能夠幫助社會變得更好，即使只是一點點，只要能讓世界永續發展就是件好事。
              </p>
          </div>
          <div class="col-md-2 vcenter issue_btn">
            <p>
              <a class="btn btn-default" target="_blank" href="../static/file/solution/team5.pdf">Details</a>
            </p>
          </div>
      </div>
      <hr>
      <div class="row text-center">
          <div class="col-md-3 vcenter">
              <img class="img-responsive center-block" src="../static/image/solution/team6.png" alt="Cambodia" width="250">
          </div>
          <div class="col-md-6 vcenter hleft">
              <p>
              從學生時代的工管領域，到台積電兩年的人力資源經歷，因為看到社會上許多問題，再加上自身的手作靈魂，
              決定開始往產品的方向前進。隱形口罩只是第一步，接下來會將更多的點子化作可能。
              </p>
          </div>
          <div class="col-md-2 vcenter issue_btn">
            <p>
              <a class="btn btn-default" target="_blank" href="../static/file/solution/team6.pdf">Details</a>
            </p>
          </div>
      </div>
      <hr>
      <div class="row text-center">
          <div class="col-md-3 vcenter">
              <img class="img-responsive center-block" src="../static/image/solution/team7.png" alt="Cambodia" width="250">
          </div>
          <div class="col-md-6 vcenter hleft">
              <p>
              Joe Huang: 大學主修機械、於光電研究所畢業後、任職於自動化量測系統供應商。對於High-Low Tech相關的產品有很深的興趣。<br><br>
              Maggie Huang: 大學主修土木工程、即將於史丹佛大學 Sustainable Construction Design 研究所攻讀碩士，大學期間參加密西根大學Blue Lab社團時累積了許多透過工程來解決開發中國家議題的經驗、也希望能多累積這方面的知識與能力、為下一個產品累積能量
              </p>
          </div>
          <div class="col-md-2 vcenter issue_btn">
            <p>
              <a class="btn btn-default" target="_blank" href="../static/file/solution/team7.pdf">Details</a>
            </p>
          </div>
      </div>




<!--      <div class="row vertical-align">
          <div class="col-sm-2">
              <img class="img-circle img-responsive center-block" src="../static/image/issue/breath.png" alt="Cambodia" width="100" height="100">
          </div>
          <div class="col-sm-3">
              <img class="img-rounded img-responsive center-block" src="http://placehold.it/250X250" alt="Generic placeholder image" width="250" height="250">
          </div>
          <div class="col-sm-5">
              <h3>解決方法</h3>
              <p>
                  堆肥廠處理過程中易產生惡臭，設置土地取得不易，每當推行建廠，總屢遭地方抗爭，造成堆肥處理廠位居中南部鄉鎮，
                  而都市的廚餘問題，無法自行處理，多需負擔昂貴的處理費用。
              </p>
          </div>
          <div class="col-sm-2">
            <p>
              <button type="button" class="btn btn-default pull-left" Onclick="window.location.href='../bissue'">Go to Details</button>
            </p>
          </div>
      </div>
      <hr>
      <div class="row vertical-align">
          <div class="col-sm-2">
              <img class="img-circle img-responsive center-block" src="../static/image/issue/energy.png" alt="Cambodia" width="100" height="100">
          </div>
          <div class="col-sm-3">
              <img class="img-rounded img-responsive center-block" src="http://placehold.it/250X250" alt="Generic placeholder image" width="250" height="250">
          </div>
          <div class="col-sm-5">
              <h3>解決方法</h3>
              <p>
                  堆肥廠處理過程中易產生惡臭，設置土地取得不易，每當推行建廠，總屢遭地方抗爭，造成堆肥處理廠位居中南部鄉鎮，
                  而都市的廚餘問題，無法自行處理，多需負擔昂貴的處理費用。
              </p>
          </div>
          <div class="col-sm-2">
            <p>
              <button type="button" class="btn btn-default pull-left" Onclick="window.location.href='../bissue'">Go to Details</button>
            </p>
          </div>
      </div>
      <hr>
      <div class="row vertical-align">
          <div class="col-sm-2">
              <img class="img-circle img-responsive center-block" src="../static/image/issue/oldman.png" alt="Cambodia" width="100" height="100">
          </div>
          <div class="col-sm-3">
              <img class="img-rounded img-responsive center-block" src="http://placehold.it/250X250" alt="Generic placeholder image" width="250" height="250">
          </div>
          <div class="col-sm-5">
              <h3>解決方法</h3>
              <p>
                  堆肥廠處理過程中易產生惡臭，設置土地取得不易，每當推行建廠，總屢遭地方抗爭，造成堆肥處理廠位居中南部鄉鎮，
                  而都市的廚餘問題，無法自行處理，多需負擔昂貴的處理費用。
              </p>
          </div>
          <div class="col-sm-2">
            <p>
              <button type="button" class="btn btn-default pull-left" Onclick="window.location.href='../bissue'">Go to Details</button>
            </p>
          </div>
      </div>
-->
      
    </div>




      <!-- footer -->  
      {% include "common/footer.html" %}
    </div> <!-- /container -->

    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}
  </body>
</html>