<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header.html" %}

    <div class="container theme-showcase" role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="page-header">
      </div>
      <!-- Three columns of text below the carousel-->
<!--      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsLU45YTVpUXh0YWc" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsNzFJS05nZGJxSnM" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsdWp3OEJfM1E1SE0" alt="Generic placeholder image" width="250" height="250">
        </div>
      </div>
      <hr>
-->      
      <div class="row">
        <div class="col-md-4">
          
            <img class="img-circle img-responsive center-block" src="../static/image/oldman/1.png" alt="Generic placeholder image" width="250" height="250">
            <!-- <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsOWViZlJsZkNyMDg" alt="Generic placeholder image" width="250" height="250"> -->
        </div>

          <div class="col-md-8">
              <h1>背景</h1>
              <p>
                  <blockquote>台灣中低收入戶的獨居長者僅有47%獲得政府每日補助一至兩餐的送餐服務</blockquote>
                  截至民國103年底，我國65歲以上人口比率已達12%，在七年之內，預估到達20%，正式成為「超高齡社會」。
                  根據內政部戶政司統計，目前全台共有11, 760位獨居長者屬於中低收入戶，但其中僅有5,479位 （僅佔47%）獲得政府每日補助一至兩餐的送餐服務。 

              </br>
              </br>
                許多長輩因為獨居，再加上行動不便，無法自行煮食或是外出購買，常隨便以冷食裹腹，長期下來，容易營養不均衡，
                導致疾病或生理退化。若患有慢性病而需要特殊的飲食，惡化的情形更為嚴重。 在政府與民間團體的推動下，
                全台各地的送餐服務遍地開花，但因為其特殊性及複雜性，諸如經費不穩定、人力吃緊、準備過程繁瑣，不利長期且系統化的經營。

              </p>
          
          </div>

    </div>
    
      <hr> 
      
      <div class="row">
          <div class="col-md-4">
              <img class="img-circle img-responsive center-block" src="../static/image/oldman/2.png" alt="Generic placeholder image" width="250" height="250">
          </div>
          <div class="col-md-8">
              <h1>核心問題</h1>
              <p>
                  <blockquote>即使有送餐服務，長輩仍可能一天只吃一餐</blockquote>
                  多數團體的服務員，由於獨居老人的住處可能較為偏避，又在人力短缺的狀況之下，往往只能在午餐時間協助送餐，願意夜間送餐的比例較低，
                  因此即使有送餐服務，長輩仍可能一天只吃一餐。
                  </br>
                  </br>
                  為了讓長輩們吃得更加營養，服務單位的營養師需細心調配每日餐點，依照每位長者的生理狀況做不同規劃，
                  因此增加前置準備的時間與複雜程度。為因應不同的需求，準備餐點的流程繁瑣，一個不小心，就可能誤置菜色，
                  或常常因為不同長輩突發性的身體狀況改變，而更動或突然增加菜色，這些都讓廚房的工作人員相當苦惱。
                  </br>
                  </br>
                  目前仍無專屬配送的餐盒設計，多數團體只能以一般大眾使用的便當餐盒，如紙、鐵盒等。然而，紙盒不環保又容易滴漏，
                  鐵盒雖環保但笨重、需花更多心力清洗與回收。兩者食材的擺置空間有限。配送過程難免路途顛頗，飯菜不易保持美觀，
                  且由於裝盛的面積小，手部功能退化的長者，用湯匙盛裝時容易將食物灑出餐盒之外，對長輩們來說，不是友善的食用器具，
                  而倘若用大面積的餐盤裝盛，又不易服務員配送。
              </p>
          </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
             <img class="img-circle img-responsive center-block" src="../static/image/oldman/3.png" alt="Generic placeholder image" width="250" height="250">
        </div>

          <div class="col-md-8">
              <h1>可能的解決方案</h1>
              <p class="lead">
              <dl>
                  <dt>服務單位與營養師之間的合作流程標準化 </dt>
                  <dd>建立一個整合服務單位、營養師、配送服務員的系統程式，
                  </br>
                  也許可以是一個簡易的APP方便服務單位追蹤備餐與送餐的即時狀況。
                  </dd>
                  <br>
                  <dt>設計友善且專屬送餐服務的餐盒與餐具</dt>
                  <dd>外包裝利於配送時收納、備有防漏功能，餐盒內裏採友善的通用設計。
                  </dd>
                  <br>
                  <dt>改善現有餐具的材質，方便配送的服務員攜帶</dt>
                  <dd>可重複性使用的竹製的材質改良，使餐盒更加輕巧。
                  </dd>
              </dl>
              </p>
          </div>

        </div>
        <hr>
          
        <div class="row">
          <div class="col-md-3 vcenter eliv-margin">

              <img class="img-circle img-responsive center-block" src="../static/image/oldman/ngologo.png" alt="Generic placeholder image" width="200" height="200">

          </div>

          <div class="col-md-3 vcenter">
              <h3 class="text-center">弘道老人福利基金會</h3>
          </div>
        
          <div class="col-md-5 vcenter">
              <p>20年來，我們相信弘揚孝道能讓老有所安養，因此年年舉辦現代優質孝行活動；<br>
                20年來，我們看見獨居弱勢老人心中的需求，因此在各地成立志工站關心陪伴；<br>
                20年來，我們深感延緩老化對銀髮族的重要，因此研發推廣社區建康促進活動；<br>
                20年來，我們發現夢想讓長者再現生命價值，因此持續在全國各地推動不老夢想。<br>
                不老世界，感謝有您！展望未來，邀請您與20歲的弘道攜手向前，讓老人臉上，有笑容；<br>
                讓大眾看見，銀髮生命價值；讓我們一起共創，友善、溫馨、樂活的高齡社會！
              </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <ol>
            <h5>參考資料：</h5>
            <li>老年人口12% - 104年第三週內政統計通報(103年底人口結構分析) ：<br>
            <a target="_blank" href="http://www.moi.gov.tw/stat/news_content.aspx?sn=9148">http://www.moi.gov.tw/stat/news_content.aspx?sn=9148</a></li>
            <li>民國102年,2013 獨居老人人數及服務概況：<br>
            <a target="_blank" href="www.mohw.gov.tw/CHT/DOS/DisplayStatisticFile.aspx?d=31857">http://www.mohw.gov.tw/CHT/DOS/DisplayStatisticFile.aspx?d=31857</a></li>
            <li>內政部戶政司, 人口政策資料彙集, 民國102年：<br>
            <a target="_blank" href="http://www.ris.gov.tw/c/document_library/get_file?uuid=5b1a3b06-3e06-4cc5-8263-6f7df4fecfc4&groupId=10157">http://www.ris.gov.tw/c/document_library/get_file?uuid=5b1a3b06-3e06-4cc5-8263-6f7df4fecfc4&groupId=10157</a></li>
          </ol>
        </div>

        
        
    
    </div>




      <!-- footer -->  
      {% include "common/footer.html" %}

    </div> <!-- /container -->
    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}
  </body>
</html>
