
<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header.html" %}

    <div class="container theme-showcase" role="main">
      <div class="page-header">
      </div>
        <!-- Login -->
      <div class="row">
		    <div class="col-md-4">
			  </div>
		    <div class="col-md-4">
          <div class="form-group">
            <label for="loginemail">電子信箱</label>
            <input type="email" class="form-control input-lg" id="loginemail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="loginpassword">密碼</label>
            <input type="password" class="form-control input-lg" id="loginpassword" placeholder="Password">
          </div>  
          <p>
            <a href="/resetpw"><u>Forget password？</u></a>
          </p>
          <br>
          <p>
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="logIn()">Login</button>
            <form action="../newaccount"><button type="submit" class="btn btn-primary btn-lg btn-block">Register!</button></form>
          </p>
        </div>
		    <div class="col-md-4">
			  </div>
      </div>
        <!-- /Login -->


      <!-- footer -->  
      {% include "common/footer.html" %}

    </div> <!-- /container -->



    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}
  </body>
</html>
