
<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header.html" %}

    <div class="container theme-showcase" role="main">
      <div class="page-header">
      </div>
        <!-- Login -->
        <div class="row">
            <div class="col-md-4">
			</div>
		    <div class="col-md-4">
            <div class="form-group">
              <label for="newemail">電子信箱</label>
              <input type="email" class="form-control input-lg" id="newemail" placeholder="Email">
            </div>

          <!-- Large button group -->
          <!--
            <p>
            <div class="btn-group">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                Major
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>Mechanics</li>
                  <li>Eletrics</li>
                </ul>
            </div>
            </p>
            -->
          <br>
          <p>
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="resetpw()">重設密碼</button>
          </p>
        </div>
		    <div class="col-md-4">
			  </div>
      </div>
        <!-- /Login -->


      <!-- footer -->  
      {% include "common/footer.html" %}

    </div> <!-- /container -->


 
    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}
  </body>
</html>
