.vertical-align {
    display: flex;
    align-items: center;
}

.col-sm-6.center{
    text-align: center;
}

.vertical-space-around{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 500px;
    font-size:16px;
}

.text-center{
    text-align:center;
}

.vertical-space-around2{
    align-items: center;
    justify-content: space-around;
}

.panel-title {
    font-size:18px;
}

body {
    font-family: Microsoft JhengHei;
    font-size: 16px;
}

.col-sm-3.issue_btn{
    padding-left: 50px;
}

.navbar.navbar-default.navbar-fixed-top {
    background-color: #FFFFFF;
    border-color: #e7e7e7;
}

.dt-font{
    font-size:22px;
}
.dd-font{
    font-size:18px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.hleft{
    text-align: left;
}

.eliv-margin{
    margin-bottom:50px;
    margin-top:50px;
}

.img-center {
	margin: 0 auto;
}
