
<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header_e.html" %}


    <div class="container theme-showcase" role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="page-header">
      </div>
      <!-- Three columns of text below the carousel-->
<!--      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsLU45YTVpUXh0YWc" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsNzFJS05nZGJxSnM" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsdWp3OEJfM1E1SE0" alt="Generic placeholder image" width="250" height="250">
        </div>
      </div>
      <hr>
-->      
      <div class="row">
        <div class="col-md-4">
             <img class="img-circle img-responsive center-block" src="/static/image/breath/1.png" alt="Generic placeholder image" width="250" height="250">
        </div>
          <div class="col-md-8">
              <h1>Background</h1>
              <p>
                  <blockquote>Cambodia is one of the most poor countries in the world.</blockquote>
                  According to the Human Development Index published by United Nations in 2014, 
                  Cambodia ranked as 136 among 187 countries in the world, 
                  and there are around 20.5% populations (Total populatioin is 14.5 million) 
                  live under the poverty line. The economic development in Cambodia is restricted to the uncomplete regulations, 
                  insufficient supprot, and corruption sereriousness from government. Generally speaking, 
                  the economic growth mainly comes from tourism industry, manufacturing industry, and constrction industry. 
                  However, the connection between those three major economic industry and the villages out of towns is weak and most of the people who live in the rural area can’t be benifited from the economic growth from those cities.   
              </p>
          </div>
    </div>
    
      <hr> 
      
      <div class="row">
          <div class="col-md-4">
              <img class="img-circle img-responsive center-block" src="/static/image/breath/2.png" alt="Generic placeholder image" width="250" height="250">
          </div>
          <div class="col-md-8">
              <h1>Quesion behinds the question</h1>
              <p>
                  <blockquote>Village women need to spend lots of time in fulfill their daily needs, which is collecting the firewoods from the forest, to cook their three meals for one househood. </blockquote>
                  Located in the North-West of Cambodia, 
                  most of the village women in Svey Chek district spend three hours in average in collecting firewoods to cook for their family. 
                  The process is not only time-consuming and exhausted, but has negative impacts to our environment. 
                  The situation becomes worse during the rain season. 
                  Besides, after taking firewoods home, the wet-firewoods and undesign-oven make the cooking situation worse -- many incomplete combusion particles are exhaled by those village women and cause related respiratory diseases, 
                  which reduce their available time in putting into economic activities such as weaving and farming.    
              </p>
          </div>
      </div>
      <hr>
          <div class="row">
            <div class="col-md-4">
              <img class="img-circle img-responsive center-block" src="/static/image/breath/3.png" alt="Generic placeholder image" width="250" height="250">
            </div>
          <div class="col-md-8">
              <h1>Possible Solutions</h1>
              <p class="lead">
              <dl>
                  <dt>Develope the environement friendly tool in carring firewoods.</dt>
                  <br>
                  <dt>Increase the firewood buring efficiency.</dt>
                  <br>
                  <dt>Prevent the exhale of inperfect combusion particles. </dt>
              </dl>
              <p>
          </div>
    </div>
    <hr>
        <div class="row">
          <div class="col-md-3 vcenter eliv-margin">

              <img class="img-rounded img-responsive center-block" src="/static/image/breath/elivlogo.jpg" alt="Generic placeholder image" width="200" height="200">

          </div>

          <div class="col-md-3 vcenter">
              <h3 class="text-center">ELIV International Service Co. Ltd.</h3>
          </div>
        
          <div class="col-md-5 vcenter text-center">
              <p>
                <a href="http://www.elivtw.com/">http://www.elivtw.com/</a>
              </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <ol>
            <h5>Reference：</h5>
            <li>
            <a target="_blank" href="http://hdr.undp.org/en/content/table-1-human-development-index-and-its-components">http://hdr.undp.org/en/content/table-1-human-development-index-and-its-components</a></li>
            <li>
            <a target="_blank" href="http://hdr.undp.org/en/content/table-6-multidimensional-poverty-index-mpi">http://hdr.undp.org/en/content/table-6-multidimensional-poverty-index-mpi</a></li>
            <li>
            <a target="_blank" href="http://epa.gov/pm/health.html">http://epa.gov/pm/health.html</a></li>
          </ol>
        </div>
    </div>




      <!-- footer -->  
      {% include "common/footer.html" %}
    </div> <!-- /container -->

    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}
  </body>
</html>
