<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header_e.html" %}


    <div class="container theme-showcase" role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="page-header">
      </div>
      <!-- Three columns of text below the carousel-->
<!--      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsLU45YTVpUXh0YWc" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsNzFJS05nZGJxSnM" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsdWp3OEJfM1E1SE0" alt="Generic placeholder image" width="250" height="250">
        </div>
      </div>
      <hr>
-->      
      <div class="row">
        <div class="col-md-4">
          <img class="img-circle img-responsive center-block" src="/static/image/foodwaste/2.png" alt="Generic placeholder image" width="250" height="250">
        </div>
          <div class="col-md-8">
              <h1>Background</h1>
              <p>
                  <blockquote>Affires of leftover recyling are addessed by local government in the recent years in Taiwan, and those recyclings increase the loading of incinerator and the mixed recyclings also reduce the burn efficiency of incinerators.</blockquote>
                  Leftover recycling policies have been published for couple of years, 
                  but the reality of recycling leftovers encounters a dilema that leftover buring costs a lot for local government but occupies too much capacity of incinerator. 
                  The difficulties of executing the policy comes from the building and operation cost of compost addressing factory almost equals to the case of incinerator so that those reality make the leftover recycling policy hard to get a breakthrough movement.  
              </p>
          </div>
    </div>
    
      <hr> 
      
      <div class="row">
          <div class="col-md-4">
              <img class="img-circle img-responsive center-block" src="/static/image/foodwaste/1.png" alt="Generic placeholder image" width="250" height="250">
          </div>
          <div class="col-md-8">
              <h1>Question behinds the question</h1>
              <p>
                  <blockquote>Due to the expentive cost in urban area, most of the leftovers are shipped to middle or south taiwan to do the post-recycling process.</blockquote>
                  Due to the high-density of population and limited area in urban area, 
                  most of leftovers generated in town hard to be addressed by itself and the expenditure shipped leftovers to rural area is expensive. 
                  Furthermore, the process of producing compost is complicated and corresponding with quality control issue, cost structure issue, 
                  and over-rely on chemical fertilizer of farmers etc. Those realites build the barries for promoting the related leftover recycling policies.
              </p>
          </div>
      </div>
      <hr>
          <div class="row">
            <div class="col-md-4">
              <img class="img-circle img-responsive center-block" src="/static/image/foodwaste/3.png" alt="Generic placeholder image" width="250" height="250">
            </div>
          <div class="col-md-8">
              <h1>Possible Solutions</h1>
              <p class="lead">
              <dl>
                  <dt>Artifical special bacteria species cultivation</dt>
                  <dd>因應不同廚餘的來源和所含有機質種類的差異，加強生產過程中的需求菌種篩選，
                  控制適當發酵菌活化條件，人工培育維生菌種，加速堆肥工廠製造時使用。
                  </dd>
                  <br>
                  <dt>Miniature the leftover recycling process unit</dt>
                  <dd>設計量小即可產生熱能的機器，也許是透過物理裝置，就能讓其以較高效率的方式運作。
                  或是設計在與空氣接觸的開口，鋪上特殊纖維，來源也許可利用社區或是學校等鄰近的樹葉製成，避免生蛆。
                  或加裝濾片，讓臭氣不要大量發散。
                  </dd>
                  <br>
                  <dt>Re-design the recycling process and leverage the local resource to address local leftovers</dt>
                  <dd>府與民間合作，研發出可以就地處理廚餘機制，落實分流回收，將生、熟食廚餘分開處理，
                  挑選出市區就能處理的廚餘優先處理。
                  </dd>
              </dl>
              <p>
          </div>
    </div>
    <hr>
        <div class="row">
          <div class="col-md-3 vcenter eliv-margin">

              <img class="img-rounded img-responsive center-block" src="/static/image/foodwaste/fwlogo.jpg" alt="Generic placeholder image" width="200" height="200">

          </div>

          <div class="col-md-3 vcenter">
              <h4 class="text-center">
                 Taiwan composting association
              </h4>
          </div>
        
          <div class="col-md-5 vcenter">
              <p>
                我們是一群關心生態環境、農業健康的人，集結組織共同推動廚餘堆肥的普及。
                我們認為廚餘堆肥能減少食物資源浪費及不當處理的健康風險與環境污染；
                而產生的優良堆肥則能減少化學肥料、農藥的使用，促進健康無毒農業。
              </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <ol>
            <h5>參考資料：</h5>
            <li>廚餘101高度：<br>
            <a target="_blank" href="http://www.huf.org.tw/essay/content/2168">http://www.huf.org.tw/essay/content/2168</a></li>
          </ol>
        </div>


    
    </div>




      <!-- footer -->  
      {% include "common/footer.html" %}
    </div> <!-- /container -->

    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}
  </body>
</html>
