<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header_e.html" %}


    <div class="container theme-showcase" role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="page-header">
      </div>
      <!-- Three columns of text below the carousel-->
<!--      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsLU45YTVpUXh0YWc" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsNzFJS05nZGJxSnM" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsdWp3OEJfM1E1SE0" alt="Generic placeholder image" width="250" height="250">
        </div>
      </div>
      <hr>
-->      
      <div class="row">
        <div class="col-md-4">
          <img class="img-circle img-responsive center-block" src="/static/image/foodwaste/2.png" alt="Generic placeholder image" width="250" height="250">
        </div>
          <div class="col-md-8">
              <h1>Background</h1>
              <p>
                  <blockquote>Affires of leftover recyling are addessed by local government in the recent years in Taiwan, and those recyclings increase the loading of incinerator and the mixed recyclings also reduce the burn efficiency of incinerators.</blockquote>
                  Leftover recycling policies have been published for couple of years, 
                  but the reality of recycling leftovers encounters a dilema that leftover buring costs a lot for local government but occupies too much capacity of incinerator. 
                  The difficulties of executing the policy comes from the building and operation cost of compost addressing factory almost equals to the case of incinerator so that those reality make the leftover recycling policy hard to get a breakthrough movement.  
              </p>
          </div>
    </div>
    
      <hr> 
      
      <div class="row">
          <div class="col-md-4">
              <img class="img-circle img-responsive center-block" src="/static/image/foodwaste/1.png" alt="Generic placeholder image" width="250" height="250">
          </div>
          <div class="col-md-8">
              <h1>Question behinds the question</h1>
              <p>
                  <blockquote>Due to the expentive cost in urban area, most of the leftovers are shipped to middle or south taiwan to do the post-recycling process.</blockquote>
                  Due to the high-density of population and limited area in urban area, 
                  most of leftovers generated in town hard to be addressed by itself and the expenditure shipped leftovers to rural area is expensive. 
                  Furthermore, the process of producing compost is complicated and corresponding with quality control issue, cost structure issue, 
                  and over-rely on chemical fertilizer of farmers etc. Those realites build the barries for promoting the related leftover recycling policies.
              </p>
          </div>
      </div>
      <hr>
          <div class="row">
            <div class="col-md-4">
              <img class="img-circle img-responsive center-block" src="/static/image/foodwaste/3.png" alt="Generic placeholder image" width="250" height="250">
            </div>
          <div class="col-md-8">
              <h1>Possible Solutions</h1>
              <p class="lead">
              <dl>
                  <dt>Artifical special bacteria species cultivation</dt>

                  <br>
                  <dt>Miniature the leftover recycling process unit</dt>

                  <br>
                  <dt>Re-design the recycling process and leverage the local resource to address local leftovers</dt>

              </dl>
              <p>
          </div>
    </div>
    <hr>
        <div class="row">
          <div class="col-md-3 vcenter eliv-margin">

              <img class="img-rounded img-responsive center-block" src="/static/image/foodwaste/fwlogo.jpg" alt="Generic placeholder image" width="200" height="200">

          </div>

          <div class="col-md-3 vcenter">
              <h4 class="text-center">
                 Taiwan composting association
              </h4>
          </div>
        
          <div class="col-md-5 vcenter text-center">
              <p>
                <a href="http://scraptosprout.blogspot.tw/">http://scraptosprout.blogspot.tw/</a>
              </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <ol>
            <h5>參考資料：</h5>
            <li>廚餘101高度：<br>
            <a target="_blank" href="http://www.huf.org.tw/essay/content/2168">http://www.huf.org.tw/essay/content/2168</a></li>
          </ol>
        </div>


    
    </div>




      <!-- footer -->  
      {% include "common/footer.html" %}
    </div> <!-- /container -->

    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}
  </body>
</html>
