<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include "common/head.html" %}
  <body role="document">
  <!-- Header -->  
  {% include "common/header_e.html" %}

    <div class="container theme-showcase" role="main">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="page-header">
      </div>
      <!-- Three columns of text below the carousel-->
<!--      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsLU45YTVpUXh0YWc" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsNzFJS05nZGJxSnM" alt="Generic placeholder image" width="250" height="250">
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsdWp3OEJfM1E1SE0" alt="Generic placeholder image" width="250" height="250">
        </div>
      </div>
      <hr>
-->      
      <div class="row">
        <div class="col-md-4">
          
            <img class="img-circle img-responsive center-block" src="/static/image/oldman/1.png" alt="Generic placeholder image" width="250" height="250">
            <!-- <img class="img-circle" src="https://drive.google.com/uc?id=0B8RpWqb4YXwsOWViZlJsZkNyMDg" alt="Generic placeholder image" width="250" height="250"> -->
        </div>

          <div class="col-md-8">
              <h1>Background</h1>
              <p>
                  <blockquote>Only 44% solitary elders receive the home delivery meal service from government sector among all of the middle-low income households in Taiwan.</blockquote>
                  Based on the report data, the percentage of elder people (65 years+) in Taiwan reached 12% and, reasonably, estimate to 20% within 7 years, 
                  and will offcially be categorized to hyper-aged society. According to the statistics number, around 12,000 solitary elders are categorized to middle-low income households, 
                  but only 5400 of them could be benefit from the home delivery meal policy from the government. 
                  <br>
                  <br>
                  Many solitary elders have difficulties in taking care daily affires by themselves. 
                  Therefore, they usually don’t care what they eat as long as they have something to eat and this situation cause the inbalance nutrient for them and result in some diseases or phylogenetic degeneratiaon. 
                  The situation gets worse if the elders are diagonosed with chronic diseases. In recent years, many non-profit organizations start to have home delivery meal service in Taiwan. However, the penetration rate is limited due to its complexity and its uniqueness, 
                  such as unstable supplement budget, limited labors, and travial preparing process, casue the growth speed of this service. 
              </p>
          
          </div>

    </div>
    
      <hr> 
      
      <div class="row">
          <div class="col-md-4">
              <img class="img-circle img-responsive center-block" src="/static/image/oldman/2.png" alt="Generic placeholder image" width="250" height="250">
          </div>
          <div class="col-md-8">
              <h1>Question behinds question</h1>
              <p>
                  <blockquote>Elders still only have one meal per day, even they got the home meal delivery service.</blockquote>
                  Because the place of solitary elders are usually located in rural area or not easy to access and shortage of meal driver, 
                  this service is usually afforadable to provide only lunch for those elders per day. 
                  </br>
                  </br>
                  In order to ensure the meals for those elders have enough nutrient, 
                  nutritionist need to calculate every nessary nutrient and make customized plan in their daily meal and this increase the complextity of preparing process.
                  </br>
                  </br>
                  This problem haven’t got a proper solution, which could be a customized design lunch box. Most of organizations use common lunch boxes madd by paper or iron. However, the traditional lunch box have several disadvantages, 
                  such as leaking issue and not easy to recycle problem for paper one, and weight problem and need to recuite more labor to it clean for iron one. 
                  Furthermore, the structure design of the tradition lunchbox is also not friendly for eldersto use if they are suffered from Degenerative Joint Disease. 
                  They usually can’t hold the spoon tightly and could spread the soup or sauce out of the lunch box. For them, the tradition lunch boxes seem to have some space to be improved and to make it better.   
              </p>
          </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
             <img class="img-circle img-responsive center-block" src="/static/image/oldman/3.png" alt="Generic placeholder image" width="250" height="250">
        </div>

          <div class="col-md-8">
              <h1>Possible Solutions</h1>
              <p class="lead">
              <dl>
                  <dt>Redsign the SOP between organizations and nutritionists. </dt>
                  <br>
                  <dt>Design a friendly lunch box that could solve the problems among meal preparing people, meal drivers, and elders. </dt>
              </dl>
              </p>
          </div>

        </div>
        <hr>
          
        <div class="row">
          <div class="col-md-3 vcenter eliv-margin">

              <img class="img-circle img-responsive center-block" src="/static/image/oldman/ngologo.png" alt="Generic placeholder image" width="200" height="200">

          </div>

          <div class="col-md-3 vcenter">
              <h3 class="text-center">Hondao Senior Citizen’s Welfare Foundation</h3>
          </div>
        
          <div class="col-md-5 vcenter text-center">
              <p>
                <a href="http://www.hondao.org.tw/english.php">http://www.hondao.org.tw/english.php</a>
              </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <ol>
            <h5>Reference:</h5>
            <li>
            <a target="_blank" href="http://www.moi.gov.tw/stat/news_content.aspx?sn=9148">http://www.moi.gov.tw/stat/news_content.aspx?sn=9148</a></li>
            <li>
            <a target="_blank" href="www.mohw.gov.tw/CHT/DOS/DisplayStatisticFile.aspx?d=31857">http://www.mohw.gov.tw/CHT/DOS/DisplayStatisticFile.aspx?d=31857</a></li>
            <li>
            <a target="_blank" href="http://www.ris.gov.tw/c/document_library/get_file?uuid=5b1a3b06-3e06-4cc5-8263-6f7df4fecfc4&groupId=10157">http://www.ris.gov.tw/c/document_library/get_file?uuid=5b1a3b06-3e06-4cc5-8263-6f7df4fecfc4&groupId=10157</a></li>
          </ol>
        </div>

        
        
    
    </div>




      <!-- footer -->  
      {% include "common/footer.html" %}

    </div> <!-- /container -->
    <!-- bottom Bootstrap and JS -->
    {% include "common/bottom_js.html" %}
  </body>
</html>
